@charset "utf-8";

header {
    padding: 2vw;
    background: #121212;
    text-align: right;
}

nav {
    text-align: center;
    display: flex;
    font-size: 1vw;
}

nav a {
    text-align: center;
    font-size: 1vw;
}
  

.pagetitle {
    text-align: center;
    padding: 0.5vw;
    color: #818181;
    font-weight: 500;
    font-size: 0.5vw;
    font-family: 'Vollkorn';
    text-decoration: underline;
    
}

.subtitle {
display: none;

}


@media (min-width: 768px) {
    .subtitle {
        text-align: center;
        display: flex;
        padding: 0.5vw;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.5vw;
        font-family: 'Vollkorn';
        text-decoration: none;
    
    }
  }

.copy {
    text-align: center;
}

h3 {
    padding-top: 3rem;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
}

h5 {
    padding-top: 10px;
    text-align: center;
    color: #666;
    font-weight: 500;
    font-size: 1vw;
}


/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    height: max-content;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    min-height: 40vw;
    max-height: 75%;
    
} 

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute; top: 20vw; bottom: 0;/*絶対配置にする*/
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 5px solid #666;/*矢印の色*/
    border-right: 5px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:0 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent; 
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%; 
    background:#ccc;/*ドットボタンの色*/
} 

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}